.w3-theme-light {color:#000 !important;background-color:#b3e5fc !important;}
.w3-theme {color:#000 !important;background-color:#03a9f4 !important;}
.w3-theme-dark {color:#fff !important;background-color:#01579b !important;}
.w3-text-theme {color:#03a9f4 !important;}
